<fieldset id="home_fieldset">
<legend>Home</legend>
<br>
<fieldset id="dados_sistema">
<legend>Dados do Sistema</legend>
<p>
  <b>Quantidade de Empresas Cadastradas: </b>
     <%=h Empresa.count %>
</p>

<p>
  <b>Quantidade de Estágios Cadastrados: </b>
     <%=h Estagio.count %>
</p>

<p>
  <b>Quantidade de Estagiários Cadastrados: </b>
     <%=h Estagiario.count %>
</p>

<p>
  <b>Quantidade de Usuários Cadastrados: </b>
     <%=h User.count %>
</p>


</fieldset>
</fieldset>

